<h1>id: <%= @task.id %>のタスク編集ページ</h1>

<%= form_with(model: @message, local: true) do |f| %>
  <% flabel :content, "タスク" %>
  <%= ftext_find :content %>
  
  <%= f.submit "作成" %>
<% end %>

<%= link_to "タスク一覧に戻る", tasks_path %>